/* src/ImageGrid.css */


.imageGrid-container {
   
    width: calc(100% - 40px); /* Subtracting margin space */
    max-width: 800px; /* Example max-width */
    height: 100vh; /* Example height, using viewport height */
    max-height: 80vh; /* Example max-height */
    overflow: auto; /* To handle overflow if necessary */
    margin: 80px auto 60px auto; /* Top margin for all devices, centered horizontally */
    padding: 10px;
    box-sizing: border-box;

  }
  